<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Welcome to coplaner, an unofficial web application that helps Carleton University students in generating conflict-free timetables.">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>coplaner - About</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link href="/css/gradient.css" rel="stylesheet" >
</head>

<body>
<nav class="navbar navbar-expand-md gradient-background">
    <div class="container container-fluid">
        <a class="navbar-brand fw-bold" href="/">coplaner</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active mx-3" aria-current="page" href="/">Home</a>
                <a class="nav-link mx-3" href="/select">Generate</a>
                <a class="nav-link mx-3" href="/about">About</a>
                <a class="nav-link mx-3" href="/contact">Contact</a>
            </div>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <h2 class="mb-4">About</h2>
    <p>Welcome to Coplaner, an unofficial web application developed to assist Carleton University students in generating conflict-free timetables. As a Carleton University student myself, I understand the struggles of scheduling courses, which is why I created Coplaner. By simply providing a list of your courses, Coplaner will do its best to find all possible conflict-free timetables. It's my hope that Coplaner can save you time and frustration as you plan your terms. Thank you for using Coplaner, and I hope you find it useful!</p>
    <h2 class=" mt-5 pt-3 mb-4">Disclaimer</h2>
    <p>Please note that the generated timetables are based on user-provided information and may not include all possible options. It is essential to review the generated timetables alongside the official university schedules for accuracy. I am not liable for any issues resulting from the use or reliance on Coplaner. Please keep in mind that Coplaner is a web application developed by a single individual, and it may have limitations or technical constraints. Your understanding and feedback are appreciated as I continually improve Coplaner's functionality. By using Coplaner, you agree to the above disclaimer and understand that the responsibility for course selections ultimately rests with you, the user.</p>
</div>

<footer style="background: #efefef" class="footer px-5 py-4 fixed-bottom text-center">
    &copy; <%=new Date().getFullYear()%> coplaner
</footer>

<script src="/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
</body>
</html>