<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>coplaner</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="/css/gradient.css" rel="stylesheet" >
</head>
<body class="container gradient-background">
    <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" href="/">coplaner</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active mx-3" aria-current="page" href="/">Home</a>
                    <a class="nav-link mx-3" href="/select">Generate</a>
                    <a class="nav-link mx-3" href="/about">About</a>
                </div>
            </div>
        </div>
    </nav>

    <section class="m-auto py-5 text-center centered">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-bold mb-4">Generate Timetables</h1>
                <p class="h5">An automatic timetable generator for Carleton University students<br>for the <%= academicYear %> academic year.</p>
                <a href="/select" class="btn btn-dark mx-1 mt-5 w-25">Start</a>
            </div>
    </section>

    <footer class="footer mx-5 my-4 fixed-bottom text-center">
        &copy; <%=new Date().getFullYear()%> coplaner
    </footer>

    <script src="/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>